* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: solid 2px red; */
}

@media (max-width: 120px) {

  /* For a screen < 960px, this CSS will be read */
  * {
    background-color: blue;
  }
}

h1 {
  font-family: Oleo Script Swash Caps;
}

span {
  color: white;
}

h2 {
  font-size: medium;
}

.raf img {
  width: 15rem;
  border: solid 2px black;
  margin: 1.5rem;
}

.raf img:hover {
  border: solid 2px grey;
  margin: 1.5rem;
}


.buble {
  background: #1c1c1f;
  color: rgb(38, 146, 196);
  display: inline-block;
  border-radius: 2rem;

  font-size: 14px;
  line-height: 4em;
  margin-bottom: 1em;
  padding: 0 1em;
  position: relative;
  text-align: center;
  vertical-align: top;
  min-width: 7em;
  margin: 1rem 2rem;
}

.buble:after {
  border: 1em solid rgba(0, 0, 0, 0);
  border-top-color: #04040a;
  content: "";
  margin-left: -3em;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
}


#dog {
  display: flex;

  text-align: left;
  margin: 1.5rem;
}
